@import url("https://fonts.googleapis.com/css?family=Play|Work+Sans");

/*
NAVIGATION

nav {
  text-shadow: 1.2px 1.3px 1.4px black;
  opacity: 0.85;
  background: #000;
}
.nav-link {
  font-size: 1.2em;
}

.nav-link:hover {
  border-bottom: 1px solid hsl(50, 97%, 61%);
  color: #c7c7c7;
}

.navbar-brand {
  font-size: 3rem;
}

.navbar-toggler {
  background: white;
  opacity: 0.5;
}
*/

button,
button:hover {
  border: none;
  color: #fff;
  padding: 10px;
}
.chatMessages,
.chatSidebar ul {
  list-style-type: none;
}
.chatSidebar ul li {
   margin: .3em .5em;
   background: hsl(50, 82%, 62%);
   color: black;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 0.95rem;
  font-family: "Work Sans", sans-serif;
}
li,
ul {
  list-style-position: inside;
}
h3 {
  font-weight: 600;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Play", sans-serif;
  letter-spacing: 1px;
}
button {
  background: hsl(50, 82%, 62%);
  color: black;
  font-family: "Play", sans-serif;
  border: 1px solid black;
  transition: background 0.3s ease;
}
button:hover {
  background: black;
  color: whitesmoke;
  cursor: pointer;
}
button:disabled {
  cursor: default;
  background: #8a9195;
}
.centeredForm {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  background: #45484d; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #45484d 0%,
    #000000 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #45484d 0%,
    #000000 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #45484d 0%,
    #000000 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );
}
.centeredForm-form {
  background: rgba(250, 250, 250, 0.9);
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  padding: 0 20px;
  margin: 20px;
  width: 500px;
  height: auto;
}
.formField {
  margin: 20px 0;
}
.formField > * {
  width: 100%;
}
.formField label {
  display: block;
  margin-bottom: 7px;
}
.formField input,
.formField select {
  border: 1px solid #e1e1e1;
  padding: 10px;
}
.chat {
  display: flex;
}
.chatSidebar {
  overflow-y: scroll;
  width: 260px;
  height: 100vh;
  background: #45484d; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #45484d 0%,
    #000000 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #45484d 0%,
    #000000 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #45484d 0%,
    #000000 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );
}
.chatFooter,
.chatSidebar li {
  background: #e6eaee;
  padding: 10px;
}
.chatSidebar h3 {
  color: #e6eaee;
  margin: 10px 20px;
  text-align: left;
}
.chatSidebar li {
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  margin: 10px;
}
.chatMain {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}
.chatMessages {
  flex-grow: 1;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 10px;
}
.chatFooter {
  display: flex;
  flex-shrink: 0;
}
.chatFooter form {
  flex-grow: 1;
  display: flex;
}
.chatFooter form * {
  margin-right: 10px;
}
.chatFooter input {
  border: none;
  padding: 10px;
  flex-grow: 1;
}
.message {
  padding: 10px;
}
.messageTitle {
  margin-bottom: 5px;
  font-family: "Play", sans-serif;
  display: flex;
  align-content: center;
}
.messageTitle h4 {
  font-weight: 600;
  margin-right: 10px;
}
#timeStamp {
  color: #999;
  font-size: 0.9em;
  padding-top: 0.4em;
}
@media (max-width: 600px) {
  * {
    font-size: 1rem;
  }
  .chatSidebar {
    display: none;
  }
  .chatFooter {
    flex-direction: column;
  }
  .chatFooter form {
    margin-bottom: 10px;
  }
  .chatFooter button {
    margin-right: 0;
  }
}

.shadow {
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
